<div class="pokemon-table-header">
  <h1>Pokemon Table Component</h1>
</div>

<div class="pokemon-table">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Types</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="pokemons$ | async as pokemons">
        <tr *ngFor="let pokemon of pokemons">
          <td>
            <a [routerLink]="'/pokemons/' + pokemon.id">
              {{ pokemon.name }}
            </a>
          </td>
          <td>
              <ng-container *ngFor="let type of pokemon.types">
                <span class="pokemon-table__type">
                  {{ type.type.name }} 
                </span>
              </ng-container>
          </td>
        </tr>
      </ng-container>      
    </tbody>
  </table>
</div>

<button class="btn-show-more"
  tuiButton
  size="m"
  (click)="clickShowMore()"
>
  Show more +10
</button>