.pokemon-table-header {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-bottom: 2px solid #e2e2e2;
}

.pokemon-table-header h1 {
  font-size: 2.5em;
  color: #333;
  margin: 0;
}

.pokemon-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.pokemon-table th {
  background-color: #b8b0fc;
  color: white;
  padding: 10px;
  text-align: left;
}

.pokemon-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.pokemon-table a {
  color: #4a90e2;
  text-decoration: none;
  transition: color 0.3s;
}

.pokemon-table a:hover {
  color: #25527b;
}

.pokemon-table__type {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.9em;
  transition: background-color 0.3s;
}

.pokemon-table__type:hover {
  background-color: #b8b0fc;
}

.pokemon-table__types{
  font-size: 1.5em;
}

.pokemon-table__title{
  font-size: 1.5em;
}

.pokemon-table th,
.pokemon-table td {
  text-align: center;
}

.pokemon-table {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
}

.btn-show-more {
  margin: 20px 20px 20px 0;
  float: right;
}

@media (max-width: 768px) {
  .pokemon-table th,
  .pokemon-table td {
    padding: 8px;
  }

  .pokemon-table span {
    padding: 3px 6px;
    margin-right: 5px;
  }
}