Pokemon table component

<div class="pokemon-table">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Types</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="pokemons$ | async as pokemons">
        <!-- подписка здесь pokemons$ | async -->
        <tr *ngFor="let pokemon of pokemons">
          <td>
            <a [routerLink]="'/pokemons/' + pokemon.id">
              {{ pokemon.name }}
            </a>
          </td>
          <td>
              <ng-container *ngFor="let type of pokemon.types">
                <span>
                  {{ type.type.name }} 
                </span>
              </ng-container>
          </td>
        </tr>
      </ng-container>      
    </tbody>
  </table>
</div>