<div>
  <a [routerLink]="'/pokemons'">← All pokemons</a>
</div>

Pokemon details component

<ng-container *ngIf="pokemon$ | async as pokemon; else loadedPokemon">

  <ng-container *ngTemplateOutlet="pokemon.item !== null ? pokemonTemplate : notFoundPokemon"></ng-container>

  <ng-template #pokemonTemplate>
    <ng-container *ngIf="pokemon.item !== null">

      <div>{{ pokemon.item.name }}</div>
      <div>
        <span>Types: </span>
        <ng-container *ngFor="let type of pokemon.item.types">
          <span>
            {{ type.type.name }} 
          </span>
        </ng-container> 
      </div>
      <div>
        <!-- <img [src]="pokemon.sprites.back_default">
        <img [src]="pokemon.sprites.back_shiny"> -->
        <img [src]="pokemon.item.sprites.front_default">
        <img [src]="pokemon.item.sprites.front_shiny">
      </div>

    </ng-container>

  </ng-template>

</ng-container>


<!-- <ng-template #loadedPokemon>
  <div>
    There is no such pokemon
  </div>
</ng-template> -->

<ng-template #notFoundPokemon>
  <div>
    Not Found pokemon
  </div>
</ng-template>

<ng-template #loadedPokemon>
  <div>
    ... Loaded pokemon
  </div>
</ng-template>

